{% load static %}
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet">

    <title>Plataforma Educativa</title>
    <link rel="shortcut icon" href="{% static '/images/Icono-foco.png' %}" type="image/x-icon">

    <!-- Bootstrap core CSS -->
    <link href="{% static '/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

<!--
Ramayana CSS Template
https://templatemo.com/tm-529-ramayana
-->

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="{% static '/css/fontawesome.css' %}">
    <link rel="stylesheet" href="{% static '/css/templatemo-style.css' %}">
    <link rel="stylesheet" href="{% static '/css/owl.css' %}">

  </head>

<body class="is-preload">

    <!-- Wrapper -->
    <div id="wrapper">

      <!-- Main -->
        <div id="main">
          <div class="inner">

            <!-- Header -->
            <header id="header">
              <div class="logo">
                <div class="container-fluid">
                  <a href="/inicio/">RAZONA.PE<img src="{% static '/images/Icono-foco.png' %}" alt=""></a>
                          
                </div>                  
              </div>
            </header>

            <!-- Banner -->
            <section class="main-banner">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-12">
                    <div class="banner-content">
                      <div class="row">
                        <div class="col-md-12">
                          <div class="banner-caption">
                            <h4><em>BIENVENIDO</em> a la Plataforma Educativa RAZONA.PE</h4>
                            <div class="primary-button mt-4">
                              <a href="#">Ver más</a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>

            <!-- Programas de aprendizaje -->
            <section class="services">
              <div class="card text-center">
                <div class="card-body">
                  <h1><strong>PROGRAMAS PARA EL ESCPOGRA</strong></h1>
                </div>
              </div>
              <div class="container-fluid mt-5">
                <div class="row">
                  <div class="col-md-4">
                    <div class="card text-center" style="width: 18rem;">
                      <img src="{% static '/images/pamoid-fondo.jpg' %}" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title"><b>PROGRAMA DE APRENDIZAJE PARA EL PAMOID</b></h5>
                        <p class="card-text">(Descripción del programa de aprendizaje)</p>
                        <a href="/pamoid/" class="btn btn-success">Suscribirse al programa</a>
                        <a href="..." class="btn btn-success mt-2">Inversión: S/ 30.00</a>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="card text-center" style="width: 18rem;">
                      <img src="{% static '/images/pamoid-fondo.jpg' %}" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title"><b>PROGRAMA DE APRENDIZAJE PARA EL PROMACIPOL</b></h5>
                        <p class="card-text">(Descripción del programa de aprendizaje)</p>
                        <a href="#" class="btn btn-success">Suscribirse al programa</a>
                        <a href="..." class="btn btn-success mt-2">Inversión: S/ 30.00</a>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="card text-center" style="width: 18rem;">
                      <img src="{% static '/images/pamoid-fondo.jpg' %}" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title"><b>PROGRAMA DE APRENDIZAJE PARA LA DIPCOEM</b></h5>
                        <p class="card-text">(Descripción del programa de aprendizaje)</p>
                        <a href="#" class="btn btn-success">Suscribirse al programa</a>
                        <a href="..." class="btn btn-success mt-2">Inversión: S/ 30.00</a>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4 mt-3">
                    <div class="card text-center" style="width: 18rem;">
                      <img src="{% static '/images/pamoid-fondo.jpg' %}" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title"><b>PROGRAMA DE APRENDIZAJE PARA LA DIPOC</b></h5>
                        <p class="card-text">(Descripción del programa de aprendizaje)</p>
                        <a href="#" class="btn btn-success">Suscribirse al programa</a>
                        <a href="..." class="btn btn-success mt-2">Inversión: S/ 30.00</a>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4 mt-3">
                    <div class="card text-center" style="width: 18rem;">
                      <img src="{% static '/images/pamoid-fondo.jpg' %}" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title"><b>PROGRAMA DE APRENDIZAJE PARA LA DIPOT</b></h5>
                        <p class="card-text">(Descripción del programa de aprendizaje)</p>
                        <a href="#" class="btn btn-success">Suscribirse al programa</a>
                        <a href="..." class="btn btn-success mt-2">Inversión: S/ 30.00</a>
                      </div>
                    </div>
                  </div>
                  
                </div>
              </div>
            </section>

            <!-- Top Image -->
            <section class="top-image">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-12">
                    <img src="{% static '/images/banner-escpogra.jpg' %}" alt="">
                    <div class="down-content mt-3">
                      <h2><strong>ESCPOGRA</strong></h2>
                      <p>La Escuela de Posgrado de la Policía Nacional del Perú, centro de alto nivel académico comprometido con 
                        la excelencia educativa y mejoramiento continuo que permite la formación de Oficiales de la PNP como 
                        líderes capaces de enfrentar con éxito los retos que involucra el cumplimiento de la misión institucional; 
                        desarrolla programas académicos de maestrías y diplomados dirigidos a nuestros Oficiales de la Policía Nacional 
                        del Perú</p>
                      <div class="primary-button">
                        <a href="https://www.escueladeposgradopnp.org/">Visitar página web</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>

          </div>
        </div>

      <!-- Sidebar -->
        <div id="sidebar">

          <div class="inner">

            <!-- Search Box -->
            <section id="search" class="alt">
              <form method="get" action="#">
                <input type="text" name="search" id="search" placeholder="Search..." />
              </form>
            </section>
              
            <!-- Menu -->
            <nav id="menu">
              <ul>
                {% if user.is_authenticated  %}
                {% else %}
                <li><a href="/iniciar_sesion/">Iniciar sesion</a></li>
                <li><a href="/registrarse/">Registrarse</a></li>
                {% endif %}
                
                <li><a href="/inicio/">Inicio</a></li>
                <li><a href="/pamoid/">Página Principal</a></li>
                <li>
                  <span class="opener">Gestión de información</span>
                  <ul>
                    <li><a href="#">Registrar programa</a></li>
                    <li><a href="/registrar_pregunta/">Registrar pregunta</a></li>
                    <li><a href="#">Registrar usuario</a></li>
                  </ul>
                </li>
                <li><a href="https://www.google.com">Redes sociales</a></li>
                {% if user.is_authenticated %}
                <li><a href="/cerrar_sesion/">Cerrar sesión</a></li>
                {% endif %}
              </ul>
            </nav>

            <!-- Featured Posts -->
            <div class="featured-posts">
              <div class="heading">
                <h2>Noticias</h2>
              </div>
              <div class="owl-carousel owl-theme">
                <a href="#">
                  <div class="featured-item">
                    <img src="{% static '/images/featured_post_01.jpg' %}" alt="featured one">
                    <p>Noticia 1</p>
                  </div>
                </a>
                <a href="#">
                  <div class="featured-item">
                    <img src="{% static '/images/featured_post_01.jpg' %}" alt="featured two">
                    <p>Noticia 2</p>
                  </div>
                </a>
                <a href="#">
                  <div class="featured-item">
                    <img src="{% static '/images/featured_post_01.jpg' %}" alt="featured three">
                    <p>Noticia 3</p>
                  </div>
                </a>
              </div>
            </div>

            <!-- Footer -->
            <footer id="footer">
              <p class="copyright">Copyright &copy; 2022 EducaTec
              <br>Designed by <a rel="nofollow" href="https://www.facebook.com/templatemo">Template Mo</a></p>
            </footer>

          </div>
        </div>

    </div>

  <!-- Scripts -->
  <!-- Bootstrap core JavaScript -->
    <script src="{% static '/jquery/jquery.min.js' %}"></script>
    <script src="{% static '/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <script src="{% static '/js/browser.min.js' %}"></script>
    <script src="{% static '/js/breakpoints.min.js' %}"></script>
    <script src="{% static '/js/transition.js' %}"></script>
    <script src="{% static '/js/owl-carousel.js' %}"></script>
    <script src="{% static '/js/custom.js' %}"></script>
</body>


  </body>

</html>
